@charset 'UTF-8';

// フォントの設定----------------------------
$base-font-size: 16;

html {
	font-size: $base-font-size + px;
}

@function rem($px) {
	@return calc($px / $base-font-size * 1rem);
}

$base-width: 1440;

@function vw($px) {
	@return calc($px / $base-width * 100vw);
}

$line-height: 1.5;

$font-family: 'Hind', 'Noto Sans JP', sans-serif;
$font-family-ja: 'Noto Sans JP', sans-serif;
$font-family-en: 'Hind', sans-serif;

// 色の設定----------------------------
$color-font: #565956;
$color-font-reverse: #FFFFFF;
$color-main: #F2F4F1;
$color-bg: #998866;
$color-accent: #669988;
$color-light: #B1B6AF;