@use '../../mixin/mixin'as *;
@use '../../setting/setting'as *;

//------------------------------------
// フロントページ
//------------------------------------

/* メインビュー
------------------------------------*/
.mainView {
  background: transparent url('../img/common/img_main_visual.png') no-repeat center center / cover;

  @include media(s) {
    background-image: url('../img/common/sp/img_main_visual.png');
  }
}

.mainView-lead {
  padding: rem(109) 0 rem(147);

  @include media(s) {
    padding: rem(132) 0 rem(216);
  }

  &__main,
  &__sub {

    span {
      display: inline-block;
      background-color: $color-font-reverse;
      padding: rem(6) rem(2) 0 rem(24);

      @include media(s) {
        padding: rem(6) rem(4) 0 rem(11);
      }
    }
  }

  &__main {

    span {
      font-size: rem(40);
      line-height: calc(72/40);
      font-weight: 700;
      margin-bottom: rem(9);

      @include media(s) {
        font-size: rem(24);
        line-height: calc(34.75/24);
        margin-bottom: rem(6);

        @include media(xs) {
          font-size: rem(16);
          line-height: 1.5;
        }
      }
    }
  }

  &__sub {

    span {
      font-size: rem(24);
      line-height: calc(36/24);
      font-weight: 500;
      padding: rem(11) rem(16) rem(3) rem(22);

      @include media(s) {
        font-size: rem(16);
        line-height: calc(23.17/16);
        margin-top: rem(10);

        @include media(xs) {
          font-size: rem(14);
          line-height: 1.5;
        }
      }
    }
  }
}

/* Rich-Lifeがお約束する、5つの暮らし
------------------------------------*/
.reason-list {
  margin-top: rem(54);
  display: flex;
  flex-wrap: wrap;
  padding: 0 rem(50);

  @include media(s) {
    padding: 0;
    margin-top: rem(23);
  }

  &__item {

    @include media(xxl) {
      width: calc(20% - rem(60) * 4 / 5);

      &:nth-child(n + 6) {
        margin-top: rem(27);
      }

      &:not(:nth-child(5n)) {
        margin-right: rem(60);
      }
    }

    @include media(xl) {
      width: calc(20% - rem(60) * 4 / 5);

      &:nth-child(n + 6) {
        margin-top: rem(27);
      }

      &:not(:nth-child(5n)) {
        margin-right: rem(60);
      }

      @include media(m) {
        width: calc(33.3% - rem(24) * 2 / 3);

        &:nth-child(n + 6) {
          margin-top: auto;
        }

        &:not(:nth-child(5n)) {
          margin-right: auto;
        }

        &:nth-child(n + 3) {
          margin-top: rem(24);
        }
      }
    }

    &--sp-lg {

      @include media(m) {
        width: 37.5% !important;
        margin: 0 auto;
      }
    }
  }

  &__header {
    font-size: rem(20);
    text-align: center;
    color: $color-font-reverse;
    background-color: $color-bg;

    @include media(s) {
      font-size: rem(18);
    }

    span {
      display: inline-block;
      margin-left: rem(8);
    }
  }

  &__imgWrapper {
    text-align: center;
  }

  &__text {
    margin-top: rem(5);

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
    }
  }
}

/* おかげさまでRich-Life USER 総会員数16万人突破!
------------------------------------*/
.news {
  background: transparent url('../img/common/img_background.png') no-repeat center center / cover;
  padding: rem(57) 0;

  @include media(s) {
    padding: rem(43) 0 rem(96);
  }
}

.news-text {
  font-size: rem(24);
  line-height: calc(34.75/24);
  font-weight: 500;
  text-align: center;
  position: relative;

  @include media(s) {
    font-size: rem(16);
    line-height: calc(24/16);
  }

  span {
    display: block;
    font-size: rem(64);
    line-height: calc(96.67/64);

    @include media(s) {
      font-size: rem(32);
      line-height: calc(46.34/32);
    }

    b {
      font-size: rem(96);
      line-height: calc(123.07/96);
      font-family: $font-family-en;
      font-weight: 400;

      @include media(s) {
        font-size: rem(48);
        line-height: calc(61.54/48);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 203px;
    top: 40%;
    transform: translateY(-50%);

    @include media(s) {
      width: 80px;
      height: 103px;
    }
  }

  &::before {
    background: transparent url('../img/common/leaf_left.png') no-repeat center center / contain;
    left: calc(50% - 370px);

    @include media(s) {
      left: calc(50% - 180px);

      @include media(xs) {
        left: calc(50% - 160px);
      }
    }
  }

  &::after {
    background: transparent url('../img/common/leaf_right.png') no-repeat center center / contain;
    right: calc(50% - 370px);

    @include media(s) {
      right: calc(50% - 180px);

      @include media(xs) {
        right: calc(50% - 160px);
      }
    }
  }
}

/* 利用者さまの声
------------------------------------*/
.voice {
  padding-top: rem(4);

  @include media(s) {
    margin-top: rem(-114);
  }
}

.voice-list {
  margin-top: rem(53);
  display: flex;
  justify-content: center;

  @include media(m) {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 736px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include media(s) {
      width: 350px;
      margin-top: rem(21);
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 368px;
    max-width: 33.333%;
    position: relative;
    counter-increment: review;

    @include media(m) {
      max-width: 50%;

      @include media(s) {
        width: 100%;
        max-width: 100%;
      }
    }

    &:nth-child(odd) {
      background-color: $color-main;
    }

    &::after {
      content: "REVIEW 0"counter(review);
      display: inline-block;
      font-size: rem(14);
      line-height: 1;
      color: $color-font-reverse;
      background-color: $color-accent;
      font-family: $font-family-en;
      font-weight: 700;
      padding: rem(10) rem(25);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__body {
    padding: rem(22) rem(48) rem(56);

    @include media(s) {
      padding: rem(16) rem(32) rem(54);
    }
  }

  &__title {
    font-size: rem(20);
    line-height: calc(28.96/20);
    font-weight: 700;
    color: $color-font-reverse;

    @include media(l) {
      font-size: rem(16);

      @include media(s) {
        font-size: rem(18);
        line-height: calc(26.06/18);

        @include media(xs) {
          font-size: rem(16);
          line-height: 1.5;
        }
      }
    }

    p {

      &:not(:first-child) {
        margin-top: rem(10);
      }

      @include media(s) {
        &:not(:first-child) {
          margin-top: rem(8);
        }
      }

      span {
        display: inline-block;
        background-color: $color-bg;
        padding: rem(7) rem(16) rem(3);
        white-space: nowrap;
      }

    }

    p+p {

      @include media(s) {
        text-align: end;
      }
    }
  }

  &__text {
    line-height: calc(23.17/16);
    margin-top: 16px;

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
      margin-top: rem(19);
    }
  }

  &__person {
    position: absolute;
    right: 51px;
    bottom: 20px;

    @include media(s) {
      font-size: rem(14);
      right: 35px;
      bottom: 17px;
    }
  }

  &__imgWrapper {

    img {

      @include media(m) {
        width: 100%;
      }
    }
  }
}

/* こんなことでお悩みではないですか？
------------------------------------*/
.solution {
  background: transparent url('../img/common/img_background-solution.png') no-repeat center center / cover;
  position: relative;
}

.solution-list {
  width: 1180px;
  max-width: 100%;
  margin-top: rem(53);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media(s) {
    margin-top: rem(21);
  }

  &__item {
    width: 100%;
    background-color: $color-font-reverse;
    box-shadow: 0 4px 4px rgba(#000, 0.16);
    border-radius: 32px;
    padding: rem(30) rem(28) rem(26) rem(115);
    font-size: rem(24);
    line-height: calc(40/24);
    font-weight: 500;
    position: relative;

    @include media(l) {
      font-size: rem(20);

      @include media(s) {
        font-size: rem(16);
        line-height: calc(23.17/16);
        padding: rem(28) rem(25) rem(22) rem(67);
      }
    }

    &:not(:first-child) {
      margin-top: rem(32);

      @include media(s) {
        margin-top: rem(20);
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
    }

    &::before {
      width: 32px;
      height: 32px;
      border: 2px solid $color-accent;
      border-radius: 999px;
      left: 54px;
      transform: translateY(-50%);

      @include media(s) {
        width: 24px;
        height: 24px;
        left: 27px;
      }
    }

    &::after {
      width: 16px;
      height: 8px;
      border-bottom: 2px solid $color-accent;
      border-left: 2px solid $color-accent;
      transform: translateY(-65%) rotate(-45deg);
      left: 62px;

      @include media(s) {
        width: 12px;
        height: 6px;
        left: 33px;
      }
    }

    &--short {
      width: 48%;

      @include media(m) {
        width: 100%;
      }
    }
  }
}

.solution-lead {
  font-size: rem(24);
  line-height: 1;
  font-weight: 700;
  width: 1013px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: rem(57);
  margin-bottom: rem(-135);
  color: $color-font-reverse;
  background-color: $color-accent;
  text-align: center;
  padding: rem(32) rem(24) rem(27);
  position: relative;

  @include media(l) {
    font-size: rem(20);
    line-height: 1.5;

    @include media(s) {
      width: 92.593%;
      font-size: rem(16);
      line-height: calc(23.17/16);
      padding: rem(20) rem(4) rem(19);
      margin-top: rem(28);
    }
  }

  &::after {
    content: "";
    display: block;
    width: 102%;
    height: 107%;
    background: transparent url('../img/common/img_enclose.png') no-repeat center center / cover;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    @include media(s) {
      width: 109%;
      height: 100%;
      background-image: url('../img/common/sp/img_enclose.png');
    }
  }
}

/* Rich-Lifeで叶える、理想の暮らし紹介
------------------------------------*/
.realization {
  padding-top: rem(146);

  @include media(s) {
    margin-top: rem(112);
  }
}

.realization-list {
  margin-top: rem(85);

  @include media(s) {
    max-width: 400px;
    margin-top: rem(38);
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    position: relative;
    counter-increment: scene 1;

    &::after {
      content: "SCENE 0"counter(scene);
      font-size: rem(48);
      line-height: 1;
      font-weight: 700;
      position: absolute;
      top: -20px;
      left: 37px;

      @include media(s) {
        font-size: rem(24);
        top: -10px;
        left: 32px;
      }
    }

    &:not(:first-child) {
      margin-top: rem(94);

      @include media(s) {
        margin-top: rem(42);
      }
    }
  }

  &__imgWrapper {
    display: block;
    width: 100%;
    text-align: center;

    @include media(s) {
      width: 93%;
      margin: 0 auto;
    }
  }

  &__body {
    margin-top: rem(58);

    @include media(s) {
      margin-top: rem(20);
    }
  }

  &__bodyImgWrapper {
    margin-left: rem(-87);
    display: flex;
    align-items: center;

    @include media(m) {
      display: none;
    }
  }

  &__bodyImgWrapper+&__bodyImgWrapper {
    margin-left: rem(30);
    display: flex;
    align-items: flex-start;

    @include media(m) {
      display: none;
    }
  }

  &__lineUp {
    margin-top: rem(60);

    @include media(s) {
      margin-top: rem(25);
    }
  }

  &__bg {
    width: 100vw;
    height: 1369px;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    background-color: $color-main;
    position: absolute;
    bottom: 150px;
    z-index: -1;

    @include media(m) {
      height: 1700px;

      @include media(s) {
        height: 1161px;
        left: 0;
        bottom: 96px;
      }
    }
  }
}

.realization-body {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 660px;
    background-color: $color-font-reverse;
    padding: rem(80) rem(130) rem(88) rem(68);
    box-shadow: 0 4px 4px rgba(#000, 0.16);
    margin-left: rem(-68);

    @include media(l) {
      margin-left: rem(-40);

      @include media(m) {
        width: 100%;
        padding: rem(72);
        margin-left: 0;

        @include media(s) {
          padding: rem(24) rem(32);
        }
      }
    }
  }

  &__title {

    span {
      display: inline-block;
      font-size: rem(24);
      line-height: calc(34.75/24);
      font-weight: 700;
      text-align: center;
      color: $color-font-reverse;
      background-color: $color-bg;
      padding: rem(6) rem(6) 0;
      white-space: nowrap;

      @include media(s) {
        font-size: rem(18);
        line-height: calc(26.06/18);
        white-space: normal;

        @include media(xs) {
          font-size: rem(16);
          line-height: 1.5;
        }
      }
    }

    &--pc {
      @include media(s) {
        display: none;
      }
    }

    &--sp {
      display: none;

      @include media(s) {
        display: block;
        text-align: center;
      }

      p {
        text-align: left;

        span {
          padding: rem(9) rem(6) rem(1);
        }
      }

      p+p {
        @include media(s) {
          margin-top: rem(8);
          text-align: right;
        }
      }
    }
  }

  &__detailList {
    margin-top: rem(65);

    @include media(s) {
      margin-top: rem(25);
    }
  }
}

.realization-body--reverse {
  flex-direction: row-reverse;

  .realization-body__content {
    margin-right: rem(-72);
    margin-left: 0;
    padding: rem(58) rem(71) rem(44) rem(126);

    @include media(l) {
      margin-right: rem(-40);

      @include media(m) {
        margin-right: 0;
        padding: rem(72);

        @include media(s) {
          padding: rem(32);
        }
      }
    }
  }

  .realization-list__bodyImgWrapper {
    margin-left: rem(110);
    margin-right: rem(-90);
  }

  .realization-list__bodyImgWrapper+.realization-list__bodyImgWrapper {
    margin-left: 0;
    align-items: flex-end;
  }
}

.realization-detailList {

  &__item {

    &:not(:first-child) {
      margin-top: rem(52);

      @include media(s) {
        margin-top: rem(25);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: rem(20);
    line-height: calc(25.64/20);
    letter-spacing: 0.08em;
    font-family: $font-family-en;

    @include media(s) {
      font-size: rem(16);
    }

    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: $color-font;
      margin-left: rem(30);
    }
  }

  &__description {
    width: 98%;
    margin-top: rem(12);
    line-height: calc(23.17/16);
    letter-spacing: 0.08em;
  }

  &__imgWrapper {
    display: none;

    @include media(m) {
      display: block;
      margin-top: rem(16);
      text-align: center;
    }
  }
}

.realization-lineUp {
  width: 998px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__title {
    font-size: rem(20);
    line-height: calc(28.96/20);
    letter-spacing: 0.08em;
    text-align: center;
    position: relative;

    @include media(s) {
      font-size: rem(18);
      line-height: calc(26.06/18);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: vw(240);
      height: 1px;
      background-color: $color-font;
      position: absolute;
      top: 16px;

      @include media(s) {
        width: vw(184.333);
        top: 12px;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    span {
      display: block;
      line-height: calc(25.64/20);
      color: $color-light;
      margin-top: rem(15);

      @include media(s) {
        font-size: rem(16);
        margin-top: rem(6);
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(11);

    @include media(s) {
      margin-top: rem(18);
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;

    @include media(s) {
      width: calc(33.3% - rem(20) * 2 / 3);

      &:not(:nth-child(3n)) {
        margin-right: rem(20);
      }
    }
  }

  &__body {
    height: 150px;
    background-color: $color-main;
    box-shadow: 0 4px 4px rgba(#000, 0.16);
    border-radius: 0 0 8px 8px;
    font-family: $font-family-ja;
    padding: rem(25) rem(29) 0;

    @include media(s) {
      height: 96px;
      padding: rem(8) rem(13);
    }
  }

  &__itemTitle {
    font-size: rem(20);
    line-height: calc(28.96/20);
    font-weight: 700;

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
    }
  }

  &__itemInfo {
    font-weight: 300;
    margin-top: rem(8);

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
      margin-top: rem(15);

      @include media(xs) {
        font-size: rem(12);
        line-height: 1.5;
      }
    }
  }
}

/* Rich-Lifeが愛される4つのポイント
------------------------------------*/
.feature {
  background: transparent url('../img/common/img_background-features.png') center center / cover;
  margin-top: rem(80);

  @include media(s) {
    margin-top: rem(32);
  }
}

.feature-list {
  margin-top: rem(58);

  @include media(s) {
    max-width: 350px;
    margin-top: rem(22);
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(30);
    background-color: $color-font-reverse;
    border-radius: 64px;
    box-shadow: 0 4px 4px rgba(#000, 0.25);

    @include media(s) {
      display: block;
      padding: rem(30) rem(30) rem(27);
      border-radius: 32px;
    }

    &:not(:first-child) {
      margin-top: rem(36);

      @include media(s) {
        margin-top: rem(25);
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .feature-list__imgWrapper-pc {
        margin-left: 0;

        @include media(m) {
          margin-left: rem(8);
        }
      }

      .feature-list__body {
        margin-left: rem(85);

        @include media(l) {
          margin-left: rem(12);

          @include media(s) {
            margin-left: 0;
          }
        }
      }
    }

    &:nth-child(even) {

      .feature-list__imgWrapper-pc {
        margin-left: rem(85);

        @include media(l) {
          margin-left: rem(12);
        }
      }

      .feature-list__body {
        margin-left: 0;
      }
    }
  }

  &__imgWrapper-pc {
    width: 445px;
    max-width: 50%;

    @include media(s) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__imgWrapper-sp {
    display: none;

    @include media(s) {
      display: block;
      text-align: center;
      margin-top: rem(10);
    }
  }

  &__body {
    width: 445px;
    max-width: 50%;

    @include media(m) {
      width: 60%;
      max-width: 60%;

      @include media(s) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }
    }
  }

  &__title {

    span {
      display: inline-block;
      font-size: rem(20);
      line-height: 1;
      color: $color-font-reverse;
      background-color: $color-bg;
      padding: rem(8) rem(22);

      @include media(s) {
        font-size: rem(18);
        padding: rem(6) rem(14) 0;
      }
    }

    p {
      font-size: rem(20);
      line-height: calc(28.96/24);
      font-weight: 700;
      margin-top: rem(12);

      @include media(s) {
        margin-top: rem(8);

        @include media(xs) {
          font-size: rem(16);
          line-height: 1.5;
        }
      }

      &::first-letter {
        font-size: rem(24);
        line-height: calc(34.75/24);
        color: $color-bg;
      }
    }
  }

  &__text {
    line-height: calc(23.17/16);
    letter-spacing: 0.08em;
    margin-top: rem(12);

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
      margin-top: rem(12);
    }
  }
}

/* 気軽に簡単。Rich-Lifeの使い方
------------------------------------*/
.use-list {
  margin-top: rem(51);
  display: flex;
  justify-content: space-between;

  @include media(m) {
    margin-top: rem(22);
    flex-direction: column;
  }

  &__item {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;

    @include media(m) {
      width: 550px;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      flex-direction: row-reverse;
    }

    &:not(:first-child) {
      margin-left: rem(36);

      @include media(m) {
        margin-top: rem(16);
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__body {

    @include media(m) {
      width: calc(100% - 268px - rem(15));
      margin-left: rem(15);

      @include media(s) {
        width: calc(100% - 160px - rem(15));
      }
    }
  }

  &__title {
    font-size: rem(20);
    line-height: calc(28.96/20);
    text-align: center;
    font-weight: 700;
    margin-top: rem(31);
    position: relative;

    @include media(m) {
      text-align: left;
      margin-top: 0;

      @include media(s) {
        font-size: rem(18);
        line-height: calc(26.06/18);
      }
    }

    span {
      font-size: rem(24);
      line-height: calc(30.77/24);
      font-weight: 700;
      font-family: $font-family-en;
      color: $color-accent;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include media(m) {
        display: block;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin-bottom: rem(15);
      }
    }
  }

  &__text {
    line-height: calc(23.17/16);
    margin-top: rem(13);

    @include media(s) {
      font-size: rem(14);
      line-height: calc(20.27/14);
      margin-top: rem(13);
    }
  }

  &__imgWrapper {

    @include media(m) {
      width: 268px;

      @include media(s) {
        width: 160px;
      }
    }
  }
}

/* よくある質問
------------------------------------*/
.faq-list {
  margin-top: rem(26);
  display: flex;
  flex-wrap: wrap;

  @include media(s) {
    max-width: 350px;
    margin-top: rem(3);
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    width: calc(50% - rem(20) * 1 / 2);
    font-size: rem(18);
    line-height: calc(26.06/18);
    font-weight: 500;
    border-bottom: 1px solid $color-font;
    cursor: pointer;

    @include media(m) {
      width: 100%;

      @include media(s) {
        font-size: rem(14);
        line-height: calc(20.27/14);
      }
    }

    &:not(:nth-child(2n)) {
      margin-right: rem(20);

      @include media(m) {
        margin-right: 0;
      }
    }
  }

  &__question,
  &__answer {
    padding: rem(31) rem(57) rem(29);
    position: relative;

    @include media(s) {
      padding: rem(21) rem(60) rem(19) rem(68);
    }
  }

  &__question {

    &::before,
    &::after {
      color: $color-bg;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      content: "Q";
      left: 17px;

      @include media(s) {
        font-size: rem(18);
        left: 32px;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: transparent url('../img/common/img_plus.png') no-repeat center center / contain;
      right: 28px;
      transition: all 0.3s;

      @include media(s) {
        right: 13px;
      }
    }

    &--active {
      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: transparent url('../img/common/img_minus.png') no-repeat center center / contain;
        transition: all 0.3s;
      }
    }
  }

  &__answer {
    display: none;
    padding-top: 0 !important;

    &::before {
      content: "A";
      color: $color-bg;
      position: absolute;
      top: 0;
      left: 17px;

      @include media(s) {
        font-size: rem(18);
        left: 32px;
      }
    }

    &--active {
      display: block;
    }
  }
}

.faq-btnWrapper {
  margin-top: rem(58);
  text-align: center;

  @include media(s) {
    margin-top: rem(28);
  }
}